    <div class="row">
      <div class="large-4 small-12 columns">
        <%= image_tag("somervilleskillsharelogo.png") %>
        <div class="hide-for-small panel">
          <h3>Somerville Skillshare</h3>
          <h5 class="subheader">40 free classes in 6 hours. Organized and taught by local residents. March 2nd, 2014 at the Somerville Armory.
          </h5>
        </div>
      </div>






      <div class="large-8 columns">
        <div class="row">
          <% @workshops.each do |workshop| %>
            <div class="large-4 small-6 columns">
              <%= image_tag(workshop.workshop_pic.url) %>

              <div class="panel">
                <h5><%= link_to(workshop.name, workshop_path(workshop)) %></h5>
                <h6 class="subheader"><%= workshop.description %></h6>
              </div>
            </div>
          <% end %>
        </div>
      </div>
