/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body{
 	
 }

.bigBackground {
	background-image: url("dance.jpg");
 	background-size: cover;
 	height: 100%;
 	color: white;
}

.whiteBackground {
	background-color: #262626;
}

div.bigBackground h1 {
	color: white;
}
button {

	display: block;
	margin: 15px auto;
}


#mainHeader, h1 {
	text-align: center;
	margin-bottom: 0;
}

.headerImage {
	max-height: 400px;
}

p {
	padding: 0 1em;
}

.socialMediaButtons {

	width: 141px;
	margin: 20px auto;
}

.socialMediaButtons a img {

	height: 44px;
	width: 44px;
}
.test {
	height: 100px;
	width: 100px;
	background-color: red;
}

#workshopName {
	font-size: 2em;
	text-align: center;
}
